.repository-user-input {
  max-width: 864px;
  padding: 0 16px;
  margin: 48px auto;
}

.repository-user-input__label {
  font-size: 16px;
  color: #484848;
}

.repository-user-input__input {
  margin: 0 8px;
}

.repository-user-input__button {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  cursor: pointer;
  border-radius: 4px;
}
